body {
	background: 	
		/* top, transparent green faked with gradient */
		linear-gradient(
			rgba(32, 114, 32, 0.8), rgba(32, 114, 32, 0.8)),

		/* bottom, background image */
		url("benfrank-img.jpg");
}

.info-text {
	color: #ffffff;
	font-weight:400;
}

.odometer {
    font-size: 8em;
}

.odometer .odometer-inside:before {
    content: "$";
    display: inline-block;
    vertical-align: sup;
    opacity: .6;
    font-size: .5em;
    margin-right: .12em;
}
